<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dokter</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style_navbar.css" />
    <link rel="stylesheet" href="/static/css/chatdokter.css" />
  </head>
  <body>
    <!-- navbar -->
    <div class="sidebar" id="sidebar">
      <div class="logo-hamburger">
        <i class="bi bi-list" id="menu"></i>
        <h2 class="logo-text">JAGAT</h2>
      </div>
      <ul class="menu list-unstyled">
        <li>
          <a href="index.html">
            <i class="bi bi-house"></i>
            <span class="title">Beranda</span>
          </a>
        </li>
        <li>
          <a href="lapangan.html">
            <i class="bi bi-basket3"></i>
            <span class="title">Sewa Lapangan</span>
          </a>
        </li>
        <li>
          <a href="komunitas.html">
            <i class="bi bi-people"></i>
            <span class="title">Komunitas</span>
          </a>
        </li>
        <li>
          <a href="dokter.html">
            <i class="bi bi-chat-left-text"></i>
            <span class="title">Sapa Dokter</span>
          </a>
        </li>
      </ul>
      <div class="sidebar-profile">
        <a href="pengaturan.html"
          ><img src="../static/img/logo_profile.jpg" alt="Profile"
        /></a>
        <div class="nickname">
          <span class="name">Yohaneswidi69</span>
          <span class="username">@Yantzz</span>
        </div>
        <i class="bi bi-three-dots"></i>
      </div>
    </div>
    <!-- akhit navbar -->
    <!-- content -->
    <div class="atasan position-relative">
      <img
        src="../static/img/banner_dokter.png"
        alt="banner"
        class="img-fluid w-100 banner-img"
      />
      <h2 class="chat">Chat</h2>
    </div>
    <div class="isichat">
      <div class="chat-sidebar">
        <div class="chat-list">
          <div class="chat-item">
            <img src="../static/img/p1.png" alt="" />
            <div class="chat-content">
              <div class="chat-info">
                <h4>dr. Denny Y...</h4>
                <p class="oww">Dokter</p>
                <p class="ahh">kemarin</p>
              </div>
              <p class="ads">Halo kak, ada yang bisa.....</p>
            </div>
          </div>

          <div class="chat-item">
            <img src="../static/img/p2.png" alt="" />
            <div class="chat-content">
              <div class="chat-info">
                <h4>Hendarto S.</h4>
                <p class="oww">Pengelola</p>
                <p class="ahh">4 Jun</p>
              </div>
              <p class="ads">Halo kak, ada yang bisa.....</p>
            </div>
          </div>

          <div class="chat-item">
            <img src="../static/img/p3.png" alt="" />
            <div class="chat-content">
              <div class="chat-info">
                <h4>Asep Bagus</h4>
                <p class="oww">Pengelola</p>
                <p class="ahh">4 Jun</p>
              </div>
              <p class="ads">Halo kak, ada yang bisa.....</p>
            </div>
          </div>

          <div class="chat-item">
            <img src="../static/img/p4.png" alt="" />
            <div class="chat-content">
              <div class="chat-info">
                <h4>dr. Erika S...</h4>
                <p class="oww">Dokter</p>
                <p class="ahh">3 Jun</p>
              </div>
              <p class="ads">Halo kak, ada yang bisa.....</p>
            </div>
          </div>
        </div>
      </div>

      <div class="chat-main">
        <div class="chat-messages">
          <div class="message welcome-message">
            <p>
              Halo Kak! 👋<br />
              Mau ajak Kakak dan tim buat main bareng di lapangan? <br />
              nih! <br />
              Fasilitasnya nyaman dan cocok banget buat olahraga seru bareng
              teman atau tim. <br />
              Yuk sempatin olahraga biar badan tetap fit dan pikiran fresh 💪
              <br />
              Kalau Kakak tertarik, tinggal balas aja ya. Kami siap bantu atur
              jadwalnya 😊
            </p>
            <span class="message-time">10:53</span>
          </div>
        </div>

        <div class="chat-input">
          <div class="quick-questions">
            <button class="quick-question">Fasilitasnya apa aja?</button>
            <button class="quick-question">Masih tersedia?</button>
            <button class="quick-question">Harga sewa berapa?</button>
          </div>
          <div class="input-box">
            <input type="text" placeholder="Tulis Pesan..." />
            <button class="send-btn"><i class="bi bi-send"></i></button>
          </div>
        </div>
      </div>
    </div>

    <script src="../static/js/script.js"></script>
  </body>
</html>
