<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Daftar - JAGAT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/register.css" />
</head>
<body>
  <div class="isis">
    <div class="kosongan">
    </div>

    <div class="isi_menu">
      <div class="kotakan">
        <h1 class="judul">JAGAT</h1>
        <h2 class="bawah_judul">Daftar Akun</h2>
        <p class="linkke_login">Sudah memiliki akun? <a href="login.html">Masuk sekarang</a></p>


        <form>
          <label for="name">Nama Lengkap</label>
          <input type="text" id="name" placeholder="Nama Lengkap" required />

          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Email" required />

          <label for="dob">Tanggal Lahir</label>
          <div class="gruping">
            <input type="text" placeholder="Tanggal" />
            <input type="text" placeholder="Bulan" />
            <input type="text" placeholder="Tahun" />
          </div>

          <label for="gender">Jenis Kelamin</label>
          <div class="jenis_kelamin">
            <button type="button">Laki-laki</button>
            <button type="button">Perempuan</button>
          </div>

               <label for="password">Masukan sandi anda</label>
        <div class="password_bungkus">
          <input type="password" id="password" placeholder="Masukan sandi anda" required autocomplete="off" />
           <span class="pindah_password" onclick="togglePassword()">
            <i id="eye-icon" class="bi bi-eye" style="font-size: 24px; color: #0d2b72;"></i>
          </span>
        </div>

          <label for="pin">Masukan 6 pin angka</label>
          <input type="text" id="pin" maxlength="6" placeholder="Masukan 6 pin angka" />

          <div class="pilihan">
            <label><input type="checkbox" /> Ingat saya</label>
          </div>
          <a href="../templates/login.html" class="btn-login" type="submit" style="color: white; text-decoration: none;">Daftar</a>
        </form>
      </div>
    </div>
  </div>

<script src="../static/js/register.js"> </script>
</body>
</html>
